.contenido {
  min-width: 100%;
  min-height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.borde {
  border: 5px dashed $Negro;
  margin: 2rem;
}

.background {
  background: $VerdeClaro;
}

.contenidoDcha {
  box-sizing: border-box;
  height: 100%;
}

.btn1 {
  background-color: #205922af;
  color: whitesmoke;
  border-radius: 1rem;
  border: none;
  transition: background-color 0.3s;
}

.btn1:hover {
  background-color: $Verde;
  transition: background-color 0.3s;
}
