.logo {
    display: flex;
    width: 384px;
    height: 112px;
  }
  
  .logo img {
    width: 100%;
    height: 100%;
  }
  
  .logoPie {
    display: flex;
    margin-left: 10px;
    width: 100%;
    height: 129px;
  }
  
  .logoPie img {
    width: 100%;
    height: 100%;
  }