@media only screen and (max-width: 950px) {
  .responsive {
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;
  }
}

@media only screen and (max-width: 950px) {
  .cabecera {
    flex-direction: column;
    height: auto;
  }
  .cita,
  .especialidad,
  .button {
    margin: 1em;
  }

  .contenidoIzq p {
    height: auto;
  }

  .logoPie {
    display: none;
  }

  .textoPie {
    font-size: small;
  }
}

@media screen and (max-width: 450px) {
  #contenedorMedicos,
  #contenedorMedico {
    border: none;
  }

  .contenedorMedico img {
    display: none;
  }

  .contenedorMedicos {
    width: 50%;
  }

  #doctor {
    margin: 0;
  }

  .textoPie {
    font-size: 70%;
  }

  .logo {
    width: auto;
  }
}
