@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.cabecera {
  background-color: #0c4a1a;
  min-height: 15%;
  min-width: 100%;
  display: flex;
  align-items: center;
}

.textoCabecera {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
}

.inicio,
.consultas,
.videoconsulta,
.sesion {
  margin-top: 10px;
  margin-right: 10px;
}

.inicio a,
.consultas a,
.videoconsulta a,
.sesion a {
  text-decoration: none;
  color: #fff;
}

.inicio a:hover,
.consultas a:hover,
.videoconsulta a:hover,
.sesion a:hover {
  color: #000;
}

.logo {
  display: flex;
  width: 384px;
  height: 112px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logoPie {
  display: flex;
  margin-left: 10px;
  width: 100%;
  height: 129px;
}

.logoPie img {
  width: 100%;
  height: 100%;
}

.contenido {
  min-width: 100%;
  min-height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.borde {
  border: 5px dashed #000;
  margin: 2rem;
}

.background {
  background: rgba(12, 74, 26, 0.2509803922);
}

.contenidoDcha {
  box-sizing: border-box;
  height: 100%;
}

.btn1 {
  background-color: rgba(32, 89, 34, 0.6862745098);
  color: whitesmoke;
  border-radius: 1rem;
  border: none;
  transition: background-color 0.3s;
}

.btn1:hover {
  background-color: #0c4a1a;
  transition: background-color 0.3s;
}

.pie {
  background-color: #b8b8b8;
  min-height: 15%;
  min-width: 100%;
  display: flex;
  align-items: center;
}

.pie img {
  filter: saturate(10);
}

.pie a {
  color: #fff;
  text-decoration: none;
}

.pie a:hover {
  color: #000;
}

.contenedorInicio {
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  height: 80%;
  border: 2px dashed #000;
  padding: 20px;
}

.contenedorInicio h4 {
  text-align: center;
}

.form {
  width: 100%;
  height: 55px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  margin: 5px;
}

.form input {
  width: 100%;
  height: 100%;
  background: none;
  color: #0c4a1a;
  padding-top: 15px;
  border: none;
  outline: 0px;
}

.form .lbl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c7c7c7;
}

.form .lbl:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #0c4a1a;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.text {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: #0c4a1a;
}

.form input:focus + .lbl .text,
.form input:valid + .lbl .text {
  transform: translateY(-150%);
  font-size: 14px;
  color: #0c4a1a;
}

.form input:focus + .lbl:after {
  transform: translateX(0%);
}

.formulario {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.acceso {
  margin-top: 1em;
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.izq {
  height: 80%;
  width: 50%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cita {
  width: 80%;
}

.especialidad {
  width: 80%;
}

.especialidad label {
  width: 100%;
}

.dcha {
  height: 80%;
  width: 50%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedorMedicos {
  border: 5px dashed #000;
  text-align: center;
}

.contenedorMedicos p {
  text-align: center;
  margin: 1rem;
}

.contenedorMedico {
  border: 5px dashed #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.doctor {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 1em;
}

@media only screen and (max-width: 950px) {
  .responsive {
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 950px) {
  .cabecera {
    flex-direction: column;
    height: auto;
  }
  .cita,
  .especialidad,
  .button {
    margin: 1em;
  }
  .contenidoIzq p {
    height: auto;
  }
  .logoPie {
    display: none;
  }
  .textoPie {
    font-size: small;
  }
}
@media screen and (max-width: 450px) {
  #contenedorMedicos,
  #contenedorMedico {
    border: none;
  }
  .contenedorMedico img {
    display: none;
  }
  .contenedorMedicos {
    width: 50%;
  }
  #doctor {
    margin: 0;
  }
  .textoPie {
    font-size: 70%;
  }
  .logo {
    width: auto;
  }
}
html,
body {
  font-family: "Inter", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.contenedor {
  width: 100%;
  height: 100%;
}