@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  font-family: "Inter", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

.contenedor {
  width: 100%;
  height: 100%;
}


.cabecera {
  background-color: #0c4a1a;
  height: 15%;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  margin-left: 10px;
  width: 384px;
  height: 112px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logoPie {
  display: flex;
  margin-left: 10px;
  width: 132px;
  height: 129px;
}

.logoPie img {
  width: 100%;
  height: 100%;
}

.textoCabecera {
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.inicio,
.consultas,
.videoconsulta,
.sesion {
  margin-top: 10px;
  margin-right: 10px;
}

.inicio a,
.consultas a,
.videoconsulta a,
.sesion a {
  text-decoration: none;
  color: white;
}

.inicio a:hover,
.consultas a:hover,
.videoconsulta a:hover,
.sesion a:hover {
  color: black;
}

.contenido {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 953px) {
  .contenido {
    flex-direction: column;
    height: auto;
  }
}

.contenidoIzq {
  box-sizing: border-box;
  margin: 5em;
  width: 610px;
  height: 75%;
  background: rgba(12, 74, 26, 0.25);
  border: 5px dashed #000000;
}

.textoContenidoIzq {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em;
  color: #000000;
  height: 90%;
}

.textoContenidoIzq p {
  font-size: 1.5vw;
}

.contenidoDcha {
  box-sizing: border-box;
  margin: 5em;
  width: 637px;
  height: 75%;
  border: 5px dashed #000000;
}

.imagen {
  height: 100%;
  background: url(./img/imagenInicio.png);
  background-size: cover;
  background-position: center;
}

.pie {
  background-color: #b8b8b8;
  height: 15%;
  display: flex;
  align-items: center;
}

.pie img {
  filter: saturate(10);
}

.textoPie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.accesibilidad,
.avisolegal,
.proteccion {
  margin: 10px;
  margin-right: 60px;
}

/* A partir de aquí es Inicio de sesion*/

.contenedorInicio {
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  height: 80%;
  border: 2px dashed #000000;
  padding: 20px;
}

.contenedorInicio h3 {
  margin-top: 2.5em;
  text-align: center;
}

.form {
  width: 100%;
  height: 55px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  margin: 5px;
}

.form input {
  width: 100%;
  height: 100%;
  background: none;
  color: #0c4a1a;
  padding-top: 15px;
  border: none;
  outline: 0px;
}

.form .lbl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c7c7c7;
}

.form .lbl:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #0c4a1a;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.text {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: #0c4a1a;
}

.form input:focus + .lbl .text,
.form input:valid + .lbl .text {
  transform: translateY(-150%);
  font-size: 14px;
  color: #0c4a1a;
}

.form input:focus + .lbl:after {
  transform: translateX(0%);
}

.formulario {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

/* A partir de aquí es Consultas*/

.izq {
  height: 80%;
  width: 50%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cita {
  width: 80%;
}

.especialidad {
  width: 80%;
}

.especialidad label {
  width: 100%;
}

.dcha {
  height: 80%;
  width: 50%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedorMedicos {
  border: 5px dashed #000;
  text-align: center;
}

.contenedorMedicos p {
  text-align: center;
  margin: 1rem;
}

.contenedorMedico {
  border: 5px dashed #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.doctor1,
.doctor2,
.doctor3 {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
